<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
    <session-factory>
    	<!--  General settings  -->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:file:db/homeki.db</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="current_session_context_class">managed</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">validate</property>

		<!--  Mapping files -->
        <mapping resource="com/homeki/core/storage/entities/HDevice.hbm.xml"/>
        <mapping resource="com/homeki/core/storage/entities/HSetting.hbm.xml"/>
        <mapping resource="com/homeki/core/storage/entities/HSwitchHistoryPoint.hbm.xml"/>
        <mapping resource="com/homeki/core/storage/entities/HDimmerHistoryPoint.hbm.xml"/>
        <mapping resource="com/homeki/core/storage/entities/HTemperatureHistoryPoint.hbm.xml"/>
        <mapping resource="com/homeki/core/storage/entities/HTrigger.hbm.xml"/>
        <mapping resource="com/homeki/core/storage/entities/HTimerTrigger.hbm.xml"/>
    </session-factory>
</hibernate-configuration>